{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="">
    <title>{% block title %}CarRentalWeb{% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    {% block css %}{% endblock %}
</head>
<body class="vh-100">
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-decoration-none" href="{% url 'home:index' %}">
            <span class="fw-bold fs-4 align-middle">CRW</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-decoration-none" href="{% url 'home:cars' %}">
                        Rent Car
                    </a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active text-decoration-none" href="{% url 'home:client_rentals' %}">
                            My Rents
                        </a>
                    </li>
                {% endif %}
            </ul>
            <div>
                {% if user.is_authenticated %}
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active text-decoration-none" href={% url 'user:profil' %}>
                                My Account
                            </a>
                        </li>
                        <li class="nav-item">
                            <form method="post" action="{% url 'user:logout' %}" class="d-inline">
                                {% csrf_token %}
                                <input type="submit" value="Logout"
                                       class="btn btn-outline-light ">
                            </form>
                        </li>
                    </ul>

                {% else %}
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active text-decoration-none" href={% url 'user:register' %}>
                                Register
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active text-decoration-none" href={% url 'user:login' %}>
                                Login
                            </a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</nav>

{% block content %}{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/notiflix@3.2.5/dist/notiflix-aio-3.2.5.min.js"
        integrity="sha256-LQj8h+SKqntnw8M/FP7QM+3dTqgHvB1JzZMVPD868Rg=" crossorigin="anonymous"></script>
{% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <script>
            Notiflix.Notify.success('{{ message }}', {
                position: 'center-bottom',
                fontSize: '17px',
                cssAnimationStyle: 'from-bottom',
            });
        </script>
    {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <script>
            Notiflix.Notify.failure('{{ message }}', {
                position: 'center-bottom',
                fontSize: '17px',
                cssAnimationStyle: 'from-bottom',
            });
        </script>
    {% endif %}
{% endfor %}
{% block js %}{% endblock %}
</body>
</html>
